
<div class="card">
    <h2 class="card-header" [ngStyle]="{'backgroundColor' : '#36465d', 'color' : 'white'}">Gestion</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" ><a routerLink="/admin/articles/liste" [ngStyle]="{'color' : '#36465d'}">Articles</a></li>
        <li class="list-group-item"><a routerLink="/admin/users/liste-user" [ngStyle]="{'color' : '#36465d'}">Utilisateurs</a></li>
        <li class="list-group-item"><a routerLink="/admin/parametres/liste-parametres" [ngStyle]="{'color' : '#36465d'}">Paramètres</a></li>
    </ul>
</div>
